<footer id="about-me" class="site-footer">
    <div class="container">
        <div class="row">
            <div class="eight columns">
            <h3>Sobre mim</h3>
                <p class="text">{{ site.description }}</p>
                <div class="colophon">
                    {% markdown colophon.md %}
                </div>
                {% include contact.html %}
            </div>
            <div class="four columns">
                <img class="u-max-full-width" src="assets/images/image-profile.jpg" alt="Foto do Rubens Fernando">
            </div>
        </div>
    </div>
</footer>
