a {
    color: #000;
    text-decoration: none;
}

.site-header {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 1em 0;
    a {
        color: #fff;
        &:hover {
            color: $green-color;
        }
    }
    h1,
    h2 {
        // display:inline-block;
        margin-bottom: 0;
    }
    h1 {
        font-size: 22px;
        color: $green-color;
        a {
            color: $green-color;
            &:hover {
                color: #fff;
            }
        }
    }
    .tagline {
        font-size: 16px
    }
    .title,
    .trigger {
        float: left;
    }
    .title {
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid #999;
    }
}

#work {
    margin-top: 5em;
    header {
        margin-bottom: 1em;
        h2 {
            margin-bottom: 0;
        }
        .post-meta {
          color: #555;
        }
    }
    article {
        border-bottom: solid 1px #eee;
        padding: 50px 0px;
    }
    a {
        color: #000;
        &:hover {
            color: $green-color;
        }
    }
}

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: $green-color;
    color: #FFF;
    a {
        color: #fff;
    }
}
